#elevator-container {
    display: flex;
    justify-content: center;
}

.elevator-column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100px;
}
.floor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.arrow {
    margin: 2px;
}
.current-floor {
    background-color: red;
}
.up {
    color: green;
}
.down {
    color: red;
}
.floor-label{
    border: 1px solid #000;
    width: 80px;
    height: 24px;
    text-align: center;
}

.control {
    padding:10px;
}
